services:
  srv1:
    image: python:3.12-alpine
    container_name: srv1
    working_dir: /app
    volumes:
      - ./server1:/app:ro
    command: ["python", "-m", "http.server", "8000"]
    networks:
      - rrnet

  srv2:
    image: python:3.12-alpine
    container_name: srv2
    working_dir: /app
    volumes:
      - ./server2:/app:ro
    command: ["python", "-m", "http.server", "8000"]
    networks:
      - rrnet

  lb:
    image: nginx:alpine
    container_name: rr-loadbalancer
    ports:
      - "8080:80"
    volumes:
      - ./lb/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - srv1
      - srv2
    networks:
      - rrnet

networks:
  rrnet:
    driver: bridge